@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html,
body {
  min-height: 100%;
  margin: 0;
  background: #1a1b26;
}

body {
  color: #c0caf5;
}

button,
input,
select {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #c0caf5;
  -webkit-box-shadow: 0 0 0px 1000px #202331 inset;
  box-shadow: 0 0 0px 1000px #202331 inset;
  transition: background-color 5000s ease-in-out 0s;
}
